# Use this file to store secrets like usernames and passwords.
# Copy to secrets.yaml and fill in real values.
# Learn more at https://www.home-assistant.io/docs/configuration/secrets/

# Camera credentials
tapo_camera_user: "your_username"
tapo_camera_password: "your_password"

# Other secrets can be added here
# some_api_key: "xxx"
