# Immich configuration
# See https://immich.app/docs/install/environment-variables

UPLOAD_LOCATION=/mnt/immich/library
DB_DATA_LOCATION=./postgres

IMMICH_VERSION=release

# Generate a random password for postgres
DB_PASSWORD=changeme
DB_USERNAME=postgres
DB_DATABASE_NAME=immich
